#clockContainer{
margin: auto;
align-items: center;
position: relative;

 
 height: 40vw;
 width: 40vw;
 background: url(clock_image.png)no-repeat;
 background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 1%;
    height: 12%;
    top: 23%;
    left: 49.03%;
    opacity: 0.8;
}
#minute{
    width: 1%;
    height: 17%;
    top: 19%;
    left: 49.0%;
    opacity: 0.8;
   
}
#second{
    width: 1%;
    height: 20%;
    top: 16%;
    left: 49.1%;
    opacity: 0.8;
   
}